/* For desktop*/
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}


.nav-logo{
    text-align: left
}

.nav-heading h1{
    text-align: right;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end; 
}

.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}

/* navbar design end */

.profile{
    padding: 90px 15px;
    position: relative;
    text-align: center;
}

.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
}


/* about me design her*/

.aboutme-image{
    margin-top: 100px;
}

.aboutme-image img{
    height: 270px;
    width: 230px;
}

.aboutme-desc p{
    text-align: left;
}

/* professional-experience */

.professional-experience{
    padding: 1% 5%;
}
/* professional-experience */


/* achievement */

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 200px;
    top: 50px;
    transform: translate(-50%, -50%)
}

/* achievement */

/* footer */

.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    margin: 10px;
}

/* footer */